@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

body {
	font-family: Roboto, sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #fff;
	background-color: #141414 !important;
}

.content {
	overflow: hidden;
}


/* scroll */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
	width: 5px;
	height: 2px;
	background-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 5px;
	height: 2px;
	background-color: #000;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
	width: 5px;
	height: 2px;
	background-color: #262626;
}

/* scroll */